<div>
  <h1>リセットするためのメールを送信(メール経由)</h1>
  <div class="form-group">
    <label>email</label>
    <input class="form-control input-lg" [(ngModel)]="reset.email" id="email">
  </div>

  <button (click)="data()">リセット</button>
</div>

<div>
  <h1>リセットする</h1>
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" class="form-control" [(ngModel)]="newPassword.password" id="password"
           placeholder="パス">
  </div>
  <div class="form-group">
    <label for="password_confirmation">password(確認用)</label>
    <input type="password" class="form-control" [(ngModel)]="newPassword.password_confirmation" id="password_confirmation"
           placeholder="パス確認">
  </div>

  <button (click)="password()">パスワードを変更する</button>
</div>
